services:
  - type: web
    name: coding-interview-app
    env: docker
    dockerfilePath: ./coding-interview-app/Dockerfile
    dockerContext: ./coding-interview-app
    plan: free
    region: oregon
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: REACT_APP_API_URL
        value: http://localhost:8080
      - key: REACT_APP_WS_URL
        value: http://localhost:8080
      healthCheckPath: /
