services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
      - REACT_APP_SERVER_URL=http://localhost:5000
      - CI=true
    restart: unless-stopped

volumes:
  node_modules:
